.main {
    background-color: black;
    height: 100vh;
    width: 100%;
}

body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    margin: 0 !important;
}

.first {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.second {
    width: 97%;
    margin: 5px 20px;
    height: 70px;
    padding: 7px;
    background: linear-gradient(
        90deg,
        rgba(172, 43, 151, 1) 0%,
        rgba(132, 104, 200, 1) 50%,
        rgba(92, 145, 235, 1) 100%
    );
}
/* burger*/
.left-burger,
.burger {
    display: none;
}
.left-menu {
    width: 30%;
    height: 90vh;
}
.catalog {
    width: 69%;
    background-color: #121212;
    height: 85vh;
    margin: 0.7vh 0;
    border-radius: 9px;
}

.center-second-content {
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-info {
    width: 70%;
}
.extract {
    text-transform: uppercase;
    font-size: 0.75rem;
}
.register-info {
    font-size: 1rem;
}

.extract,
.register-info {
    color: white;
    font-weight: 400;
}

.register-button {
    width: 243px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.logo-spotify {
    width: 78px;
    height: 24px;
}

.left-nav {
    background-color: #121212;
    height: 20vh;
    border-radius: 9px;
    width: 90%;
    margin: 0 5%;
}
.left-nav ul {
    list-style: none;
    color: #b3b3b3;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    height: 20vh;
    font-weight: 600;
}

.left-nav ul li:hover,
.library-title:hover {
    color: white;
}

.nav-icons {
    font-size: 22px;
    margin-right: 20px;
    max-width: 22px;
    max-height: 22px;
}
.library {
    height: 65vh;
    background-color: #121212;
    width: 90%;
    margin: 1.5vh 5%;
}
.library-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 10%;
    color: #b3b3b3;
    height: 50px;
}
.playlist-menu {
    height: 30vh;
    width: 90%;
    margin: 20px 5%;
    overflow-y: scroll;
    border-radius: 9px;
}
.playlist-card {
    background-color: #242424;
    width: 80%;
    margin: 20px 5%;
    padding: 20px;
    border-radius: 9px;
}
.playlist-create {
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}
.simple-create {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.playlist-button {
    appearance: none;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    margin: 10px 0;
    border: none;
}
.block {
    display: block;
}

.catalog-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px 5%;
    color: white;
}

.catalog-register {
    background-color: transparent;
    color: #b3b3b3;
}
.catalog-login {
    background-color: white;
    color: black;
    width: 150px;
    margin-left: 20px;
    border-radius: 25px;
}
.catalog-login,
.catalog-register {
    appearance: none;
    border: none;
    height: 40px;
    font-weight: 600;
}
.catalog-login:hover {
    width: 160px;
    height: 45px;
}
.catalog-register:hover {
    color: white;
}
.content {
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(36, 36, 36, 1) 0%,
        rgba(18, 18, 18, 1) 100%
    );
    height: 75vh;
}
.content-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 5%;
    align-items: center;
    height: 50px;
}
.playlist-title {
    color: white;
    font-size: 19px;
}
.playlist-title:hover {
    /* Surlignage */
    text-decoration: underline;
}
.display-all {
    color: #b3b3b3;
    font-size: 14px;
}
/*catalogue card*/
.catalog-card-container {
    width: 100%;
    height: 45vh;
    overflow-x: scroll;
}
.catalog-cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 0 10px;
    width: 1200px;
}

.catalog-card {
    width: 180px;
    flex-shrink: 0;
    height: 230px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
}

.catalog-card-img {
    height: 200px;
    width: 100px;
    margin: 10px 5%;
}
.catalog-card h4 {
    font-size: 16px;
    color: white;
    margin: 5px 0;
}
.catalog-card p {
    font-size: 12px;
    color: white;
}

/*player*/
.player {
    background-color: #272727;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 98%;
    justify-content: flex-start;
    margin: 10px;
}
.player img {
    margin: 10px 5px;
    width: 60px;
    height: 60px;
}
.player-text {
    align-items: center;
    align-self: end;
    margin: 10px 5px;
}
.player-text h3 {
    margin: 0;
    padding: 0;
}
.controler {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 50px;
}
.controler-button {
    margin: 10px auto;
}
.controler-button button {
    margin: 5px;
    background-color: transparent;
    border: none;
}
.slide {
    margin: auto;
}
.slide span {
    display: inline-block;
    margin: 3px 3px;
    width: 150px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 8px;
}
.volume {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
.basse-icon {
    margin: auto 5px;
}
.volume-icon {
    margin: auto 5px;
}
.volume-slide {
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.418);
    width: 100px;
    height: 5px;
    border-radius: 8px;
}
/****************/
/*media queries*/

@media screen and (max-width: 768px) {
    .left-menu {
        display: none;
    }
    .catalog {
        width: 100%;
    }
    .catalog-card-container {
        overflow-y: scroll;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3%;
        height: 60vh;
    }
    .catalog-card {
        width: 50%;
        height: 250px;
        margin: 10px;
    }
    .register-button {
        width: 150px;
    }
    .extract {
        font-size: 0.6rem;
    }
    .register-info {
        font-size: 0.6rem;
        margin-right: 5px;
    }
    .catalog-nav {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 10px;
        width: 90%;
    }
    .burger {
        display: block;
    }
    .burger i {
        text-align: center;
        width: 50px;
    }
    .arrow {
        width: 80px;
    }
    .catalog-login {
        width: 100px;
    }
    .catalog-login:hover {
        width: 100px;
        height: 40px;
    }
    .left-menu-active {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left-nav {
        margin: 5%;
    }
    .logo-spotify {
        padding: 5px;
        width: 98px;
        height: 31px;
    }
    .li-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
    }
    .left-burger {
        padding: 10%;
        display: block;
    }
    .catalog-active {
        display: none;
    }
}
